
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&family=Teko:wght@500;600;700&display=swap');



*{
    box-sizing: border-box  ;
    scroll-behavior: smooth;
}

body {
  width: 98%;
  height: 100%;
  background-color: #1a1a1a;
}

a{
  color: white;
  text-decoration: none;
}


  /* NavBar Style */
  .navbar{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 900;
    position: relative;
    top: 20px;
  }
  .navbar .logo{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar nav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
  .navbar ul{
    display: contents;
    list-style: none;
    font-family: sans-serif;
    font-weight: 900;
  }

  .menu li {
    display: inline-block;
    padding: 10px;
    position: relative;
    color: white;
    cursor: pointer;

  }
  
  .menu li.selected {
    border-bottom: 4px solid yellow;;
    padding: 10px;
    color: yellow;
    scale: 1.2;
  }
  .menu li::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;;
    transition: width 0.3s ease;
  }
  .menu li:hover::after {
    width: 100%;
  }

  /*Nav Bar drop down */
  .dropdown {
    background: none;
    color: white;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    color: aliceblue;
    font-size: 15px;
  }
  
  .dropdown-content a {
    color: rgb(253, 251, 251);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid white;
    text-align: center;
    position: relative;
    left: -64px;
  }
  /* NAV BAR Logo */
  .logo svg{
    font-size: 25px;
  }
  .logo p{
    font-size: 25px;
    padding-left: 5px;
    cursor: none;
  }
  



/* End Of Nav Bar style */



/* Container style */
.container{
    display: flex;
    flex-direction: row-reverse;
    margin: 0;
    min-height: 90vh;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    gap: 30px;
    background-color: #1a1a1a;
    width: 100%;
    justify-content: space-around;
    
}
.MidContainer{
  width: 100%;
  height: 100%;
  
}
.MidContainer img {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20200%20200'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20fill%3D'%23FF0066'%20d%3D'M51.6%2C-58.5C64.5%2C-50.6%2C70.9%2C-32.1%2C71.4%2C-14.8C71.9%2C2.6%2C66.4%2C18.9%2C58%2C33.6C49.6%2C48.2%2C38.3%2C61.3%2C23%2C69.8C7.6%2C78.3%2C-11.9%2C82.3%2C-25.5%2C75.2C-39.1%2C68%2C-46.9%2C49.8%2C-55.1%2C33C-63.4%2C16.3%2C-72.2%2C1%2C-70.9%2C-13.6C-69.6%2C-28.1%2C-58.2%2C-42%2C-44.7%2C-49.7C-31.2%2C-57.4%2C-15.6%2C-59%2C1.9%2C-61.2C19.3%2C-63.4%2C38.7%2C-66.3%2C51.6%2C-58.5Z'%20transform%3D'translate(100%20100)'%2F%3E%3C%2Fsvg%3E");
}
  
.MidContainer img {
  --f: .06; /* the parallax factor (the smaller the better) */
  --r: 100px; /* radius */
  
  --_f: calc(100%*var(--f)/(1 + var(--f)));
  --_a: calc(90deg*var(--f));
  width: 250px; /* the image size */
  aspect-ratio: calc(1 + var(--f));
  object-fit: cover;
  clip-path: inset(0 var(--_f) 0 0 round var(--r));
  transform: perspective(400px) var(--_t,rotateY(var(--_a)));
  transition: .5s;
  cursor: pointer;
  width: initial;
  background-color: #4d5e63;

}
.MidContainer img:hover {
  clip-path: inset(0 0 0 var(--_f) round var(--r));
  --_t:translateX(calc(-1*var(--_f))) rotateY(calc(-1*var(--_a)))
}


/* right container  */
.rightContainer {
  color: white;

  width: 100%;
}
.rightContainer .graduated{
  position: absolute;
  font-size: 25px;
  border: 1px solid #ff0066;
  border-right: none;
  padding: 9.9px;
  background-color: #ff0066;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
}

.rightContainer .name{
  position: absolute;
  top: 43%;
  left: 70%;
  font-weight: 900;
  font-family: 'Orbitron', sans-serif;
  font-size: 45px;
  background-image: linear-gradient(to right, #b7b3b3, #cbc6c9, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rightContainer .degree{
  position: absolute;
  left: 71%;
  top: 57%;
  font-size: 20px;
  background-image: linear-gradient(to right, #b7b3b3, #cbc6c9, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Orbitron', sans-serif;
}
.rightContainer .university{
  position: absolute;
  left: 71%;
  top: 63%;
  font-size: 20px;
  background-image: linear-gradient(to right, #b7b3b3, #cbc6c9, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Orbitron', sans-serif;
}
.rightContainer .date{
  position: absolute;
  left: 71%;
  top: 69%;
  font-size: 20px;
  background-image: linear-gradient(to right, #b7b3b3, #cbc6c9, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Orbitron', sans-serif;
}
.rightContainer .degree svg{
  font-size: 25px !important;
  color: white !important;
}
.rightContainer .arrow{
  position: absolute;
  left: 94%;
  top: 90%;
  background-image: linear-gradient(to right, #b7b3b3, #cbc6c9, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  border: 1px solid;
  width: 45px;
  box-shadow: 0px 0px 7px 7px #ff0066;
  height: 45px;
  color: white;
}
.rightContainer .arrow svg{
  font-size: 40px;
  padding: 2px;
}


/* LEFT CONTAINER */
.leftContainer {
  color: white;
  position: relative;
  font-family: 'Orbitron', sans-serif;
}
.leftContainer .developer{
  transform: rotateZ(-90deg);
  position: absolute;
  left: -147px;
  top: 176px;
  font-size: 45px;
}
.leftContainer .developer1{
  position: absolute;
  top: 85%;
  left: 120%;
  letter-spacing: 6.4px;
}
.leftContainer .developer1 span{
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  text-align: center;
}

.leftContainer .title{
  font-size: 10vh;
  font-weight: 900;
  font-family: math;
}

.leftContainer .title span{

    display: inline-block;
    width: 20px; 
    height: 20px; 
    border-radius: 50%;
    background-color: red; 
}


/* PROJECTS */

.project {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  transition: .25s;
  padding-top: 50px;

}
 .project .projectsContainer{
  position: absolute;
  color: white;
  top: 108%;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 5px;

 }
.credit {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: inherit;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  min-width: 600px;
  max-width: 900px;
  width: calc(100% - 100px);
  height: 400px;
}

.options .option {
  position: relative;
  overflow: hidden;
  min-width: 60px;
  margin: 10px;
  background: var(--optionBackground, var(--defaultBackground, #E6E9ED));
  background-size: auto 120%;
  background-position: center;
  cursor: pointer;
  transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option.active {
  flex-grow: 10000;
  transform: scale(1);
  max-width: 600px;
  margin: 0px;
  border-radius: 40px;
  background-size: auto 100%;
}

.options .option.active .shadow {
  box-shadow: inset 0 -120px 120px -120px black, inset 0 -120px 120px -100px black;
}

.options .option.active .label {
  bottom: 20px;
  left: 20px;
}

.options .option.active .label .info > div {
  left: 0px;
  opacity: 1;
}

.options .option:not(.active) {
  flex-grow: 1;
  border-radius: 30px;
}

.options .option:not(.active) .shadow {
  bottom: -40px;
  box-shadow: inset 0 -120px 0px -120px black, inset 0 -120px 0px -100px black;
}

.options .option:not(.active) .label {
  bottom: 10px;
  left: 10px;
}

.options .option:not(.active) .label .info > div {
  left: 20px;
  opacity: 0;
}

.options .option .shadow {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 120px;
  transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option .label {
  display: flex;
  position: absolute;
  right: 0px;
  height: 40px;
  transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}

.options .option .label .icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  max-width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: white;
 color: var(--defaultBackground);
}

.options .option .label .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  color: white;
  white-space: pre;
}

.options .option .label .info > div {
  position: relative;
  transition: .5s cubic-bezier(0.05, 0.61, 0.41, 0.95), opacity .5s ease-out;
}

.options .option .label .info .main {
  font-weight: bold;
  font-size: 1.2rem;
}

.options .option .label .info .sub {
  transition-delay: .1s;
}
.project .arrow{
  position: absolute;
  left: 93%;
  top: 190%;
  background-image: linear-gradient(to right, #b7b3b3, #cbc6c9, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  border: 1px solid;
  width: 45px;
  box-shadow: 0px 0px 7px 7px #ff0066;
  height: 45px;
  color: white;
}
.project .arrow svg{
  font-size: 40px;
  padding: 2px;
  color: white;
}

/* social */

#social{
  text-align: center;
}
#social .abouttitle{
  color: white;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 10px;
  text-align: center;

}
.social{
  display: flex;
  justify-content: space-around;
  position: relative;
}

.social .socialright{
  padding-top: 210px;

}
.social .socialright .cv{
  background-color: red;
  padding: 20px 50px 20px 50px;
  border-radius: 20px;
  box-shadow: 1px 1px 20px 8px yellow;

  font-family: 'Orbitron', sans-serif;

}
.social .socialright .icons{
  display: flex;
  justify-content: space-around;
  font-size: 31px;
  cursor: pointer;
}
.social .socialright .call{
  margin-top: 80px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3.2px;
}
.social .socialright .call a:hover {
  color: yellow !important;
  .call .et svg{
    color: yellow !important;
  }
}

.social .socialright .icons svg:hover{
transform: scale(1.1);
transition:.6s ease all ;
color : yellow!important
;}

.social .socialright h2{
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 10px;
  text-align: center;
  margin-top: 100px;

}

.social .arrow{
  position: absolute;
  left: 94%;
  top: 88%;
  -webkit-text-fill-color: transparent;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  border: 1px solid;
  width: 45px;
  box-shadow: 0px 0px 7px 7px #ff0066;
  height: 45px;
  color: white;
  cursor: pointer;
}

.social .arrow svg{
  font-size: 40px;
  padding: 2px;
  color: white;
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
 















/* skills */

  #skills{
    width:99%;
    height: 100%;
    transform-style: preserve-3d;
    overflow:hidden;
    background:#f1f0f0;  
    position: absolute;
  }
 .stage, .ring, .img {
  width:100%;
  height: 100%;
  transform-style: preserve-3d;

}

 .stage {
  overflow:hidden;
  background-color: #1a1a1a; 
}

.stage div, .stage svg {
  position: absolute;
}

.skills {
  perspective: 2000px;
  width: 300px;
  height: 400px;  
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}
.skills .skillsTitle{
  color: white;
  font-weight: bold;
  font-size: 45px;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 10px;
  text-align: center;
  position: relative;
  top: -27%;
  left: 50%;
  transform: translateX(-50%);
}

.stage .arrow{
  position: absolute;
  left: 93%;
  top: 88%;
  background-image: linear-gradient(to right, #b7b3b3, #cbc6c9, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  border: 1px solid;
  width: 45px;
  box-shadow: 0px 0px 7px 7px #ff0066;
  height: 45px;
  color: white;
  cursor: pointer;
}
.stage .arrow svg{
  font-size: 40px;
  padding: 2px;
  color: white;
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.stage .hand{
  position: absolute;
  left: 50%;
  top: 88%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  border: none;
  width: 45px;
  height: 45px;
  color: white;
}
.stage .hand svg{
  font-size: 40px;
  padding: 2px;
  color: white;
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.stage .rightarrow{
  position: absolute;
  left: 50%;
  top: 89%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  border: none;
  width: 45px;
  height: 45px;
  color: white;
  
  
}
.stage .rightarrow svg{
  font-size: 40px;
  padding: 2px;
  color: white;
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: arrowMove 3s infinite;
}


@keyframes arrowMove {
  0% {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);  
  }

  50% {
    opacity: 100%;
    transform: translate3d(150px, 0px, 100px);
  }


  100% {
    opacity: 0;
    transform: translate3d(150px, 0px, 0px);
  }
}
.stage .leftarrow{
  position: absolute;
  left: 48%;
  top: 89%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  border: none;
  width: 45px;
  height: 45px;
  color: white;
  
  
}
.stage .leftarrow svg{
  font-size: 40px;
  padding: 2px;
  color: white;
  position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: arrowMove2 3s infinite;
}


@keyframes arrowMove2 {
  0% {
    opacity: 0;
    transform: translate3d(0px, 0px, 0px);  
  }

  50% {
    opacity: 100%;
    transform: translate3d(-150px, 0px, 100px);
  }


  100% {
    opacity: 0;
    transform: translate3d(-150px, 0px, 0px);
  }
}





@media (max-width: 786px)  {
    nav .menu{
      display: none !important;
    }
}